target/
repository/
.settings/

.classpath
.project
*.log
*.db
SPARQL2NL/src/main/resources/NIHLexicon.zip
SPARQL2NL/src/main/resources/NIHLexicon/*
SPARQL2NL/src/main/resources/__MACOSX/*
avatar/cache/*

*/bin/*
owl2nl/testData