target/
repository/
.settings/

.classpath
.project
*.log
*.db
SPARQL2NL/src/main/resources/NIHLexicon/lexAccess2013.properties
SPARQL2NL/src/main/resources/NIHLexicon/lexAccess2013.script
SPARQL2NL/src/main/resources/NIHLexicon/lexAccess2013.data
SPARQL2NL/src/main/resources/NIHLexicon/lexAccess2013.data.zip
SPARQL2NL/src/main/resources/NIHLexicon/NIHLexicon.zip
avatar/cache/*